@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=cyrillic,latin);

@container_background: #32442d;

#buttons_container {
    margin: 0 auto;
    margin-top: 20px;
    
    button {
        width: 80px;
    }
}

#upload_container {
    display: table;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: @container_background;
    background-size: contain;
    color: white;
    font-size: 20px;
    font-family: 'PT Serif Caption', serif;
    text-align: center;
    cursor: pointer;
    opacity: 1.0;
    transition: height 0.3s linear, opacity 1s linear;
    
    #file_input { display: none; }
    
    p {
        display: table-cell;
        vertical-align: middle;
    }
    
    &.onloadstart {
        height: 20px;
        padding-left: 0px;
        padding-right: 0px;
        
        p {
            display: none;
        }
    }
    
    &.onprogress {
        #progress_container {
            border-radius: 10px;
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 0%;
            background-color: lighten(@container_background, 30%);
        }
    }
    
    &.onload { opacity: 0.0; }
    
    &.onloadend { display: none; }
}

#source_image,
#dest_image {
    display: none;
    border: 2px dashed #a2a2a2;
    background-color: #e6e6e6;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    padding: 5px;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    
    &.onloadend {
        display: block !important;
    }
}

#stegano_modal {
    #buttons {
        margin-top: 10px;
        text-align: right;
        
        #symbols_cnt {
            display: block;
            float: left;
            color: gray;
        }
    }
}