<div id="buttons_container">
    <p class="text-center">
        <button id="close_file_btn"
                type="button"
                class="btn btn-default btn-xs"
                disabled="disabled"
                data-i18n="buttons.close">
        </button>
        <button id="stegano_btn"
                type="button"
                class="btn btn-default btn-xs"
                disabled="disabled"
                data-i18n="buttons.stegano">
        </button>
    </p>
</div>

<div id="upload_container">
    <input type="file" id="file_input" name="file" />
    <p data-i18n="upfiles"></p>
    <div id="progress_container">
    </div>
</div>

<img id="source_image" src="" />
<img id="dest_image" src="" />

<div id="stegano_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <textarea id="modal-text" class="form-control" rows="3"></textarea>
                <section id="buttons">
                    <span id="symbols_cnt">134</span>
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            data-i18n="buttons.close"></button>
                    <button id="modal-save"
                            type="button"
                            class="btn btn-primary"
                            data-i18n="buttons.save"></button>
                </section>
            </div>
        </div>
    </div>
</div>